<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets\img\logo-nav@2x.png">
    </a>
  </div>
  <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" routerLink="contact">Contact</a>
      <a class="navbar-item" style="visibility: hidden;"></a>
      <a class="navbar-item" style="visibility: hidden;">Fille</a>
    </div>
  </div>
</nav>